<%= form_for @item, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ref, t(:reference), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :ref, class: "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, t(:title), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, t(:price), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, class: "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :details, t(:details), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :details, rows: 5, class: "input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t(:submit), class: 'btn btn-primary' %>
    <%= link_to t(:cancel), items_path, class: 'btn' %>
  </div>
<% end %>
